<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.6.1" targetFramework="net461" />
  <package id="Emgu.CV" version="4.5.3.4721" targetFramework="net461" />
  <package id="iTextSharp" version="5.5.13.2" targetFramework="net461" />
  <package id="log4net" version="2.0.12" targetFramework="net461" />
  <package id="MetroFramework" version="1.2.0.3" targetFramework="net461" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net461" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net461" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="PdfLibNet.PieroViano" version="1.0.0.10" targetFramework="net461" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="Tnelab.MiniblinkCore" version="1.0.6" targetFramework="net461" />
</packages>